@model IEnumerable<SOSTransito.Models.ProcessoCNH>

@{
    ViewData["Title"] = "Lista de Prazos dos Processos da CNH";
}

<h1><i class="fas fa-file-powerpoint"></i> Lista de Prazos - Processos CNH</h1>

<hr />

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<table id="Table" class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CNH.RegistroCNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prazo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CNH.RegistroCNH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusCNH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processo)
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Prazo)</b>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Table').DataTable();
        });
    </script>
}