@model SOSTransito.Models.Usuario

@{
    ViewData["Title"] = "Deletar Usuário";
}

<h1>Excluir</h1>

<h3>Você realmente deseja excluir esse usuário?</h3>
<div>
    <h4>Usuário <i class="fas fa-user-times"></i></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSistema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusSistema)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioID" />
        <a href="/Usuarios/Index" class="btn btn-danger"><i class="far fa-times-circle"></i> Cancelar</a>
        <button type="submit" value="Delete" class="btn btn-success save"><i class="fas fa-save"></i> Confirmar</button>
    </form>
</div>
