@model IEnumerable<SOSTransito.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuários Cadastrados";
}

<h1><i class="fas fa-users"></i> Lista de Usuários Cadastrados</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i> Novo Usuário</button></a>
</p>

@if (@TempData["message"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["message"]
    </div>
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<table id="Table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusSistema)
            </th>
            <th width="5%" class="text-center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (item.StatusSistema == "Ativo")
                {
                    <td class="text-success">
                        <b> @Html.DisplayFor(modelItem => item.StatusSistema)</b>
                    </td>
                }
                @if (item.StatusSistema == "Inativo")
                {
                    <td class="text-danger">
                        <b>  @Html.DisplayFor(modelItem => item.StatusSistema)</b>
                    </td>
                }
                <td width="5%" class="text-center">
                    <a style="color:#000000" href="@Url.Action("Edit", "Usuarios", new { id = item.LocalizadorHash })" title="Editar"><i class="fas fa-edit"></i></a>
                    <a style="color:#000000" href="@Url.Action("ChangePassword", "Usuarios", new { id = item.LocalizadorHash })" title="Alterar Senha"><i class="fas fa-key"></i></a>
                    <a style="color:#000000" asp-action="Delete" asp-route-id="@item.LocalizadorHash" title="Excluir"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="toggle_content">
            <div class="col-md">
                <i class="fa fa-list-alt"></i> <label><b> LEGENDAS </b></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 zoom">
            <i class='fas fa-edit'></i> <label class="label-primary"> Editar Usuário </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class='fas fa-key'></i> <label class="label-primary"> Alterar Senha </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class="fas fa-trash-alt"></i> <label class="label-primary"> Excluir Usuário </label>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Table').DataTable();
        });
    </script>
}