@model SOSTransito.Models.Multa

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Multa <i class="fas fa-bars"></i></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Clientes.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Clientes.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Clientes.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Clientes.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Clientes.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Clientes.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Clientes.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Clientes.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Clientes.Localidades.Regiao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Clientes.Localidades.Regiao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Clientes.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Clientes.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Clientes.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Clientes.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.RegistroCNH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.RegistroCNH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNH.ValidadeCNH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNH.ValidadeCNH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrgAtuador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrgAtuador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NAIT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NAIT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pontuacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pontuacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInfracao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInfracao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Veiculo) (Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Veiculo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSistema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusSistema)
        </dd>
    </dl>
</div>
<div>
    <a href="/Multas/Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Voltar</a>
    <a asp-action="Edit" asp-route-id="@Model.LocalizadorHash" class="btn btn-dark"><i class="fas fa-edit"></i> Editar</a>
</div>
