@model SOSTransito.Models.Cliente

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<h1>Detalhes</h1>

<div>
    <h4>Cliente <i class="fas fa-bars"></i></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidades.Regiao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidades.Regiao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSistema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusSistema)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a href="/Clientes/Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Voltar</a>
    <a asp-action="Edit" asp-route-id="@Model.LocalizadorHash" class="btn btn-dark"><i class="fas fa-user-edit"></i> Editar</a>
</div>
