@model IEnumerable<SOSTransito.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes Cadastrados";
}

<h1><i class="fas fa-user-friends"></i> Lista de Clientes Cadastrados</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary btn-sm"><i class="fas fa-user-plus"></i> Novo Cliente</button></a>
</p>

@if (@TempData["message"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["message"]
    </div>
}

<hr />

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<table id="Table" class="table table-hover text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localidades.Regiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusSistema)
            </th>
            <th width="12%">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Localidades.Regiao)
                </td>
                @if (item.StatusSistema == "Ativo")
                {
                    <td class="text-success">
                        <b> @Html.DisplayFor(modelItem => item.StatusSistema)</b>
                    </td>
                }
                @if (item.StatusSistema == "Inativo")
                {
                    <td class="text-danger">
                        <b>  @Html.DisplayFor(modelItem => item.StatusSistema)</b>
                    </td>
                }
                <td width="12%">
                    <a style="color:#000000" href="@Url.Action("Create", "CNH", new { id = item.LocalizadorHash })" title="Cadastrar CNH"><i class="fas fa-id-card"></i></a>
                    <a style="color:#000000" href="@Url.Action("Create", "Veiculos", new { id = item.LocalizadorHash })" title="Cadastrar Veículo"><i class="fas fa-car-alt"></i></a>
                    <a style="color:#000000" href="@Url.Action("Edit", "Clientes", new { id = item.LocalizadorHash })" title="Editar"><i class="fas fa-edit"></i></a>
                    <a style="color:#000000" href="@Url.Action("Details", "Clientes", new { id = item.LocalizadorHash })" title="Detalhes"><i class="fas fa-bars"></i></a>
                    <a style="color:#000000" asp-action="Delete" asp-route-id="@item.LocalizadorHash" title="Excluir"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="toggle_content">
            <div class="col-md">
                <i class="fa fa-list-alt"></i> <label><b> LEGENDAS </b></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 zoom">
            <i class="fas fa-id-card"></i> <label class="label-primary"> Cadastrar CNH </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class="fas fa-car"></i> <label class="label-primary"> Cadastrar Veículo </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class='fas fa-edit'></i> <label class="label-primary"> Editar Cliente </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class="fas fa-bars"></i> <label class="label-primary"> Detalhes do Cliente </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class="fas fa-trash-alt"></i> <label class="label-primary"> Excluir Cliente </label>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Table').DataTable();
        });
    </script>
}