@model SOSTransito.Models.CNH

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Deseja realmente excluir essa CNH?</h3>
<div>
    <h4>CNH <i class="fas fa-id-card"></i></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistroCNH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistroCNH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValidadeCNH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidadeCNH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenhaDETRAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenhaDETRAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSistema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusSistema)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CNHId" />
        <a href="/CNH/Index" class="btn btn-danger"><i class="far fa-times-circle"></i> Cancelar</a>
        <button type="submit" value="Delete" class="btn btn-success save"><i class="fas fa-save"></i> Confirmar</button>
    </form>
</div>
