@model IEnumerable<SOSTransito.Models.CNH>

@{
    ViewData["Title"] = "Lista de CNH";
}

<h1><i class="fas fa-id-card"></i> Lista de CNH's Cadastradas</h1>

@if (@TempData["message"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["message"]
    </div>
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<table id="Table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistroCNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusCNH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusSistema)
            </th>
            <th width="15%" class="text-center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistroCNH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusCNH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processo)
                </td>
                @if (item.StatusSistema == "Ativo")
                {
                    <td class="text-success">
                        <b> @Html.DisplayFor(modelItem => item.StatusSistema)</b>
                    </td>
                }
                @if (item.StatusSistema == "Inativo")
                {
                    <td class="text-danger">
                        <b>  @Html.DisplayFor(modelItem => item.StatusSistema)</b>
                    </td>
                }
                @if (item.StatusSistema == "Finalizado")
                {
                    <td class="text-info">
                        <b>  @Html.DisplayFor(modelItem => item.StatusSistema)</b>
                    </td>
                }
                <td width="15%" class="text-center">
                    <a href="#" style="color:#000000" class="nextProcess" data-content="@item.LocalizadorHash" data-toggle="modal" data-target="#modalNextProcess" id="@item.LocalizadorHash" title="Alterar Processo CNH"> <i class="fas fa-balance-scale-right"></i></a>
                    <a style="color:#000000" href="@Url.Action("Create", "Multas", new { id = item.LocalizadorHash })" title="Cadastrar Multa"><i class="fas fa-file-excel"></i></a>
                    <a style="color:#000000" href="@Url.Action("Edit", "CNH", new { id = item.LocalizadorHash })" title="Editar"><i class="fas fa-edit"></i></a>
                    <a style="color:#000000" href="@Url.Action("Details", "CNH", new { id = item.LocalizadorHash })" title="Detalhes"><i class="fas fa-bars"></i></a>
                    <a style="color:#000000" asp-action="Delete" asp-route-id="@item.LocalizadorHash" title="Excluir"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="toggle_content">
            <div class="col-md">
                <i class="fa fa-list-alt"></i> <label><b> LEGENDAS </b></label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 zoom">
            <i class="fas fa-balance-scale-right"></i> <label class="label-primary"> Alterar Processo CNH </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class="fas fa-file-excel"></i> <label class="label-primary"> Cadastrar Multa </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class='fas fa-edit'></i> <label class="label-primary"> Editar CNH </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class="fas fa-bars"></i> <label class="label-primary"> Detalhes da CNH </label>
        </div>
        <div class="col-lg-4 zoom">
            <i class="fas fa-trash-alt"></i> <label class="label-primary"> Excluir CNH </label>
        </div>
    </div>
</div>

@*MODAL*@
<div class="modal" id="modalNextProcess" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="conteudoModal"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Table').DataTable();
        });
    </script>
    <script>
        $(function () {
            $(".nextProcess").click(function () {
                var id = $(this).attr("id");
                $("#conteudoModal").load("/CNH/NextProcess/" + id, function () {
                    $("#NextProcess").modal('show');
                });
            });
        })
    </script>
}