@model SOSTransito.Models.Veiculo

@{
    ViewData["Title"] = "Detalhes do Veículo";
}

<h1>Detalhes</h1>

<div>
    <h4>Veículo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Localidades.Regiao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Localidades.Regiao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RENAVAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RENAVAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusSistema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusSistema)
        </dd>
    </dl>
</div>
<div>
    <a href="/Veiculos/Index" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Voltar</a>
    <a asp-action="Edit" asp-route-id="@Model.LocalizadorHash" class="btn btn-dark"><i class="fas fa-user-edit"></i> Editar</a>
</div>
